:root {
    --color-green: #C6D7C2;
    --color-darkopal: #524D6B;
    --color-blue: #D3DBE6;
    --color-red: #F59E7A;
    --color-beige: #E4E9D0;
    --color-rosa: #FEDDCC;
    --color-grey: #e4e1e18c;
    --color-white: #fff;
}